*{
	font-size: 12px;
}

p{
	margin-bottom: 1em;
}

body{
	background: #CCCCCC;
	/*background: url("/sites/all/themes/bistro32/images/background_texture.png") repeat scroll 0 0 transparent;*/
}

#wrapper{
	border-width: 0;
	background: url("/sites/all/themes/bistro32/images/background_texture.png") repeat scroll 0 0 transparent;
}

#main{
	background: url("/sites/all/themes/bistro32/images/background_texture.png") repeat scroll 0 0 transparent;
}

#header, #footer-area{
	background: #BC252A;
	color: #FFFFFF;
}

#header #navigation{
	background: #AAAAAA;
	margin: 0 auto;
}

#header #site-logo {
	padding: 1em 0;
}

#header .sitename{
	margin: 0.5em;
	width: 55%;
}

#header .site-name{
	text-transform: uppercase;
	line-height: 1em;
	color: #FFFFFF;
	font-size: 5em;
	font-weight: bold;
}

#header .logo{
	margin: 0.5em;
	width: 23%;
}

#header .site-devise{
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 1em;
	font-size: 3em;
	font-weight: bold;
}

#header .site-slogan{
	color: #FFFFFF;
	font-size: 2em;
}

.social{
	height: 130px;
}

.social-profile{
	position: relative;
	right: 0;
	width: 100%;
}

.language{
	position: relative;
	top: 40px;
}

#header  .francais_off, #header  .anglais_off{
	float: right;
	width: 21px;
	margin-right: 11px;
	height: 13px;
	list-style-type: none;
}

.language ul li a,
.language ul li span{
	display: block;
	width: 40px;
	height: 40px;
}

.language ul li.francais_off{
	background: url("/sites/all/themes/bistro32/images/btlang_fr.gif") no-repeat 0 0 transparent;
}

.language ul li.anglais_off{
	background: url("/sites/all/themes/bistro32/images/btlang_en.gif") no-repeat 0 0 transparent;
}

#header img{
	border-radius: 3px;
}

#footer-area{
	border-radius: 0 0 5px 5px;
}

#main-menu > ul.menu li {
	text-transform: uppercase;
	border-right: 1px solid #BC252A;
}

#main-menu > ul.menu a.active {
  background: #BC252A;
  color: #FFFFFF;
	font-weight: bold;
}

#main-menu > ul.menu li:hover > a,
#main-menu > ul.menu a:focus{
  background: #BC252A;
  color: #FFFFFF;
}

#footer-area > ul {
	margin: 0;
}

#footer-area > ul.menu li {
	border-right: 1px solid #BC252A;
}

#footer-area > ul.menu li  a{
	color: #FFFFFF;
}

#footer-area ul li.leaf, #footer-area ul li.expanded {
  list-style: none outside none;
}

.maintenance-page  {
	text-align: center;
}

.links li a, .links li a:hover, a{
	color: #BC252A;
	text-shadow: none;
}

.titre{
	background: url("/sites/all/themes/bistro32/images/block_title_h1.png") repeat-x scroll 0 0 transparent;
}

h1, h1.page-title{
	text-transform: uppercase;
	color: #726F6F;
	display: inline-block;
	background: url("/sites/all/themes/bistro32/images/background_texture.png") repeat scroll 0 0 transparent;
}

.paragraphes{
	margin-top: 1em;
}

.paragraphe{
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
}

.paragraphe.Rouge, .paragraphe.Rouge h2, .node .paragraphe.Rouge h2.title{
	background: #BC252A;
}

.paragraphe.Gris, .paragraphe.Gris h2, .node .paragraphe.Gris h2.title{
	background: #AAAAAA;
}

.paragraphe.Rouge h2, .node .paragraphe.Rouge h2.title, .paragraphe.Gris h2, .node .paragraphe.Gris h2.title{
	color: #ffffff;
}

.paragraphe.Rouge p, .paragraphe.Gris p{
	color: #ffffff;
}

.paragraphe.Rouge .titre-paragraphe, .paragraphe.Gris .titre-paragraphe{
	background: url("/sites/all/themes/bistro32/images/block_title_h2_spe.png") repeat-x scroll 0 0 transparent;
}

.titre-paragraphe{
	background: url("/sites/all/themes/bistro32/images/block_title_h2.png") repeat-x scroll 0 0 transparent;
}

.image-paragraphe{
	margin-right: 15px;
}

h2, .node h2.title{
	display: inline-block;
	background: url("/sites/all/themes/bistro32/images/background_texture.png") repeat scroll 0 0 transparent;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0.1em 0.3em;
}

#sidebar .block > h2{
	background: #AAAAAA;
	width: 100%;
	padding: 8px;
}

.form-item label{
	display: block;
	width: 25%;
}

form input.form-text{
	width: 75%;
}

.page-node #content-wrap .slideshow img {
	border: none;
}

.slideshow ul li {
	width: 0 auto;
}

.left{
	float: left;
}

.right{
	float: right;
}

.separateur{
	border-top: 1px dotted #AAAAAA;
}

.clear{
	clear: both;
	float: none;
}